/* Simpsons Colour Palette
#FFD90F - Yellow
#DB9CE6 - Pink
#910302 - Red
#252305 - Black
#9197A5 - Grey*/

body{
    background-color: #FFD90F;
}
/* Background colour set to official simpsons yellow. */

.header{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;
    font-weight: bold;
    font: #252305;
    text-align: center;
    height: 50px;
	padding: 20px;
}
/* Font set to Comic.
Font size set to 30px.
Font Weight set to Bold - 700.
Font colour set to Simpson Black.
Text align to Centre.
Height of content area.
Padding around Header text. */

.container{
    width: 254px;
    margin: 10px auto;
    border: 2px solid #910302;
    border-radius: 5px;
    background-color: #DB9CE6  
}
/* Width of Container set to 254px.
Margin top and bottom set to 10px, left and right to Auto.
Solid Simpson Red 2px Border added.
Radius on each border corner set to 5px.
Simpson Pink used for Background Colour. */

input[type=text]{
    margin: 10px;
    text-align: right;
    font-size: 20px;
    background-color: #FFD90F;
}
/* Margin around display set to 10px.
Output align to right.
Output Font Size set to 20px.
Simpson Yellow colour set for display. */

input[type=button]{
    background-color: #910302;
    width: 50px;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px; 
}
/* Button Background colour set to Simpsons Red.
Button Width set to 50px. Margin between Buttons 5px.
Bold Font Size 18px. Button Radius set to 5px*/

input[type=button]:hover{
    background-color: #9197A5;
}
/* Button hover colour appears Simpsons Grey. */

img{
    display: block;
    margin: 0px auto;
    width: 80px;
    height: 80px;
}
/* Image aligned centre and resized. */