body {
    font-family: sans-serif, serif;
    text-align: center;
    background-color: #ffbb22;
    padding: 30px;
    }
/* Font-family priority set to Ariel then Times New Roman.
All text in HTML body element align to center.
Background colour set to official simpsons yellow.
Padding space on all text set to 30 pixels. */

main {
    display: flex;
    flex-direction: row;
}

left {
    width: 50%;
    padding-right: 100px;
}

right {
    width: 50%;
}
